# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Build outputs (for frontend React)
build/
dist/

# OS-specific files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/